################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppGetInfo/CopilotIndices/17.14.1231.31060
/.vs/AppGetInfo/FileContentIndex
*.suo
/AppGetInfo/obj/Debug/AppGetInfo.csproj.AssemblyReference.cache
/AppGetInfo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UpgradeLog.htm
/AppGetInfo/bin/Debug/AppGetInfo.exe
/AppGetInfo/bin/Debug/AppGetInfo.pdb
/AppGetInfo/obj/Debug/AppGetInfo.csproj.CoreCompileInputs.cache
/AppGetInfo/obj/Debug/AppGetInfo.csproj.FileListAbsolute.txt
/AppGetInfo/obj/Debug/AppGetInfo.csproj.GenerateResource.cache
/AppGetInfo/obj/Debug/AppGetInfo.exe
/AppGetInfo/obj/Debug/AppGetInfo.exe.config
/AppGetInfo/obj/Debug/AppGetInfo.pdb
/.vs/AppGetInfo/copilot-chat/f6065b50/sessions/45c8ef6b-2600-4909-8984-497bbaea0caf
/.vs/AppGetInfo/v17/DocumentLayout.backup.json
/.vs/AppGetInfo/v17/DocumentLayout.json
/.vs/CopilotSnapshots/6BEFC845002609498984497BBAEA0CAF/2B9299B67DD1E2499775239FD3CAB35D/6CCCEC0394AC64AB2D5018E945DA02F5
/.vs/CopilotSnapshots/6BEFC845002609498984497BBAEA0CAF/2B9299B67DD1E2499775239FD3CAB35D/DAA02CCAC4A138DAD7067430AED49C9B
/.vs/CopilotSnapshots/6BEFC845002609498984497BBAEA0CAF/2B9299B67DD1E2499775239FD3CAB35D/EE3FBA6F8A5EDE11ED53B58D5DA2327A
/.vs/CopilotSnapshots/6BEFC845002609498984497BBAEA0CAF/state.mpack
