################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppGetInfo/CopilotIndices/17.14.1231.31060
/.vs/AppGetInfo/FileContentIndex
*.suo
/AppGetInfo/obj/Debug/AppGetInfo.csproj.AssemblyReference.cache
/AppGetInfo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UpgradeLog.htm
/AppGetInfo/bin/Debug/AppGetInfo.exe
/AppGetInfo/bin/Debug/AppGetInfo.pdb
/AppGetInfo/obj/Debug/AppGetInfo.csproj.CoreCompileInputs.cache
/AppGetInfo/obj/Debug/AppGetInfo.csproj.FileListAbsolute.txt
/AppGetInfo/obj/Debug/AppGetInfo.csproj.GenerateResource.cache
/AppGetInfo/obj/Debug/AppGetInfo.exe
/AppGetInfo/obj/Debug/AppGetInfo.exe.config
/AppGetInfo/obj/Debug/AppGetInfo.pdb
/.vs/AppGetInfo/copilot-chat/f6065b50/sessions/45c8ef6b-2600-4909-8984-497bbaea0caf
/.vs/AppGetInfo/v17/DocumentLayout.backup.json
/.vs/AppGetInfo/v17/DocumentLayout.json
